@{
    ViewData["Title"] = "Home Page";
}
<style>
    .IndexDiv {
        position: fixed;
        left: 0;
        top: 6%;
        min-height: 85%;
        min-width: 100%;
    }
</style>
<div class="IndexDiv">
    <p><h1 class="text-center font-weight-bolder">Stock Manager</h1></p>
    <div class="row m-2">
        <div class="col-8">
            <p><h5>Easy and effective way to maintain the stock of your products :)</h5></p>
        </div>
        <div class="col-4">
            <img src="~/images/warehouse.png" />
        </div>
    </div>
</div>

